/* base font */
body {
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

/* disable search bar, replace it with the book title instead */
.book-summary #book-search-input {
    position: relative;
}
.book-summary #book-search-input:after {
    content: "Learn DevOps";
    padding-top: 17px;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
}

/* disable word wrap at left sidebar, and style the section header */
.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 7px 15px;
    text-overflow: initial;
    white-space: normal;
    line-height: 1.4em;
}
.book-summary ul.summary > li > span {
    font-weight: normal !important;
    font-style: italic;
    font-size: 13px;
    border-top: 1px solid #ededed;
    margin-top: 3px;
    color: #8c8c8c;
    font-weight: bold;
}

/* sidebar background */
.book-summary {
    background-color: #ffffff;
}

/* sidebar scroll beautification */
.book-summary::-webkit-scrollbar {
    width: 4px;
}
.book-summary::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
}
.book-summary:hover::-webkit-scrollbar-thumb {
    background: hsla(0,0%,53%,.4);
}
.book-summary:hover::-webkit-scrollbar-track {
    background: hsla(0,0%,53%,.1);
}

/* sidebar active link */
.book-summary li.active>a:before {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #008cff;
}
.book-summary li.active>a {
    font-weight: bold;
}

/* make the sidebar wider, and adjust the content to match it */
.book-summary {
    left: -470px;
    width: 470px;
}
@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 470px;
    }
}

/* content image stylesheets */
#book-search-results .markdown-section img {
    border: 3px solid #d4d4d4;
}

/* hide the header because each post already has it's h1 */
/* also hide the unused navigation buttons (except font settings) */
.book-header > h1,
.book-header > .pull-right:not(.font-settings) {
    display: none;
}

/* hide the "published by gitbook" footer */
.gitbook-link {
    visibility: hidden;
    pointer-events: none;
    height: 20px;
}

/* source code link for each content */
.source-code-link {
    border: 1px solid #c9ffce;
    background-color: #e7ffe9;
    padding: 10px 10px;
    text-align: center;
}
.source-code-link .source-code-link-message {
    font-weight: bold;
}

/* google ads */
ins.adsbygoogle {
    margin-bottom: 1em;
}

/* disquss block */
#disqus_thread {
    margin-top: 40px;
}
#disqus_thread + #disqus_thread {
    display: none;
}
#disqus_thread:before {
    background-color: #e7e9ee;
    content: " ";
    display: block;
    height: 1px;
    margin-left: -15px;
    margin-right: -15px;
}
#disqus_thread > iframe:nth-child(1) {
    padding-top: 30px;
}
#disqus_thread > iframe[src*=ads] {
    display: none;
}

/* banner */
.banner-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 99999;
    backdrop-filter: blur(2px);
}
.banner-container > div {
    position: relative;
    height: 100%;
    width: 100%;
}
.banner-container a {
    width: 800px;
    height: 494px;
    position: absolute;
    top: 50%;
    margin-top: -247px;
    z-index: 99999;
    left: 50%;
    margin-left: -400px;
}
.banner-container a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 800px) {
    .banner-container a {
        width: auto;
        left: 0;
        margin-left: 0;
        right: 0;
        margin-right: 0;
        height: auto;
        margin-top: -100px;
    }
}
