{
    "plugins": [
        "disqus"
    ],
    "pluginsConfig": {
        "disqus": {
            "shortName": "dasarpemrogramangolang"
        }
    },
    "lunr": {
        "maxIndexSize": 1000000000
    }
}
