{
    "plugins": [
        "ga",
        "html-minifier",
        "disqus"
    ],
    "pluginsConfig": {
        "ga": {
            "token": "UA-27602984-32"
        },
        "disqus": {
            "shortName": "devops-novalagung-com"
        }
    },
    "styles": {
        "website": "style.css"
    },
    "lunr": {
        "maxIndexSize": 1000000000
    }
}
